{% extends "control_usuarios/base1.html" %}
{% load static %}
{% block contenido %}
<section class="container" style="max-width: 90%;">
    <div>
      <h1><p style="text-align:center">Últimos Posts</p></h1>
      <br>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        {% if user.is_authenticated %}
          <button type="button" class="btn btn-primary" style="padding-left: 5% padding-top: 10%; text-align:left" onclick="window.location.href='{% url 'Crear Post' %}';">Crear Post</button>
        {% else %}
          <button type="button" class="btn btn-outline-primary me-2" style="padding-left: 5% padding-top: 10%; text-align:left" onclick="window.location.href='{% url 'Crear Post' %}?next={{ request.path|urlencode }}';">Login para crear un post</button>
        {% endif %}
        <form action="{% url 'Busqueda Post' %}" method="post" style="display: flex; align-items: center;">
            {% csrf_token %}
            <input type="text" name="busqueda" placeholder="Buscar por título" style="margin-right: 10px;">
            <button class="btn btn-secondary" type="submit" value="Buscar">Buscar</button>
        </form>
      </div>
    </div>
    <br>
    <div class="row mb-2">
      {% if posts %}
        {% for post in posts %}
        <div class="col-md-6" title="{{ post.titulo }}">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">{{ post.etiqueta }}</strong>
              <h3 class="mb-0">{{ post.titulo|truncatechars:30 }}</h3>
              {% if user.is_authenticated %}
                <div class="mb-1 text-body-secondary">{{ post.fecha }} por {{ post.autor }}</div>
              {% else %}
                <div class="mb-1 text-body-secondary">{{ post.fecha }}</div>
              {% endif %}
              <p class="card-text mb-auto">{{ post.contenido|truncatechars:75 }}</p>
              <a href="{% url 'detalle' post.id %}" class="stretched-link">Seguir leyendo</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              {% if post.imagen %}
                <img src="{{ post.imagen.url }}" alt="Thumbnail" class="rounded float-end" width="200" height="200" preserveAspectRatio="xMidYMid slice" alt="Imagen del post">
              {% else %}
                <img src="{% static 'assets/img/default-thumbnail.png' %}" alt="Thumbnail" class="rounded float-end" width="200" height="200" preserveAspectRatio="xMidYMid slice">
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p style="text-align: center;"><i>No se encontraron resultados.</i></p>
      {% endif %}
      </div>
</section>
{% endblock contenido %}