{% extends "control_usuarios/base1.html" %}
{% load static %}
{% block contenido %}
<section>
    <div>
        <form action="{% url 'Agregar etiqueta' %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Etiqueta</span>
                <input type="text" name="nombre" minlength="1" maxlength="10" required>
            </div>
            <br>
            <button class="btn btn-primary rounded-pill px-3" type="submit" value="Crear">Crear</button>
            {{ userform.errors }}
        </form>
    </div>
</section>
{% endblock contenido %}