{% extends "control_usuarios/base1.html" %}
<style type="text/css">
    .img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width: 200px;
        max-height: 200px;
    }
</style>
{% block contenido %}
<section class="container" style="max-width: 90%;">
    <div>
        <div style="display: flex; align-items: center; justify-content: space-between;">
            {% if is_current_user %}    
                <span style="text-align:left">
                    <h2>Tu perfil</h2>
                    <br>
                    {% if user.first_name and user.last_name %}
                        <h1><b>{{ user.first_name }} {{ user.last_name }} </b><i>- ({{ user.username }})</i></h1>
                        <br>
                        <p style="text-align:left"><b>User: </b>{{ user.username }}</p>
                    {% else %}
                        <p style="text-align:left"><b>User: </b>{{ user.username }}</p>
                    {% endif %}
                </span>
                {% if user.avatar and user.avatar.avatar %}
                    <img src="{{ user.avatar.avatar.url }}" class="rounded float-end" width="200" height="200" preserveAspectRatio="xMidYMid slice">
                {% endif %}
            </div>
            <br>
            <p style="text-align:left"><b>Mail: </b>{{ user.email }}</p>
            <br>
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <button type="button" class="btn btn-primary rounded-pill px-3" style="padding-left: 5% padding-top: 10%; text-align:left" onclick="window.location.href='{% url 'editar_perfil' user.id %}';">Editar Perfil</button>
                {% if user.avatar and user.avatar.avatar %}
                <button type="button" class="btn btn-primary rounded-pill px-3" style="padding-left: 5% padding-top: 10%; text-align:left" onclick="window.location.href='{% url 'editar_avatar' user.id %}';">Editar imagen de Perfil</button>
                <form action="{% url 'borrar_avatar' user.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger px-3" style="padding-left: 5% padding-top: 10%; text-align:left" value="Eliminar">Eliminar imagen de Perfil</button>
                </form>
                {% else %}
                <button type="button" class="btn btn-primary rounded-pill px-3" style="padding-left: 5% padding-top: 10%; text-align:left" onclick="window.location.href='{% url 'editar_avatar' user.id %}';">Subir imagen de Perfil</button>
                {% endif %}
            {% else %}
            <span style="text-align:left">
                <h2>Perfil de <i>{{ formulario.instance.username }}</i></h2>
                <br>
                {% if formulario.instance.first_name and formulario.instance.last_name %}
                    <h1><b>{{ formulario.instance.first_name }} {{ formulario.instance.last_name }}</b></h1>
                    <br>
                {% endif %}
            </span>
            {% if formulario.instance.avatar and formulario.instance.avatar.avatar %}
                <img src="{{ formulario.instance.avatar.avatar.url }}" class="rounded float-end" width="200" height="200" preserveAspectRatio="xMidYMid slice">
            {% endif %}
            </div>
            <br>
            <p style="text-align:left"><b>Mail: </b>{{ formulario.instance.email }}</p>
            <br>
            </div>
            {% endif %}
    </div>
</section>
{% endblock contenido %}