{% extends "control_usuarios/base1.html" %}
{% load static %}
{% block contenido %}
<section>
    <div>
        <h1 style="text-align:center">
            <form action="{% url 'Registrarse' %}" method="post">
                {% csrf_token %}
                <input type="email" placeholder="E-mail" name="mail">
                <br><br>
                <input type="text" placeholder="Usuario" name="usuario" minlength="4" maxlength="20">
                <br><br>
                <input type="password" placeholder="Contraseña" name="password" minlength="8" maxlength="15">
                <br><br>
                <button class="btn btn-primary rounded-pill px-3" type="submit" value="Enviar">Enviar</button>
                {{ userform.errors }}
            </form>
        </h1>
    </div>
</section>
{% endblock contenido %}