{% extends "control_usuarios/base1.html" %}
{% load static %}
{% block contenido %}
<section>
    <div>
        <h1 style="text-align: center;">Etiquetas</h1>
        <br>
        <div style="display: flex; align-items: center; justify-content: space-between;">
            {% if user.is_authenticated %}
            <button type="button" class="btn btn-primary" style="padding: 10px;" onclick="window.location.href='{% url 'Agregar etiqueta' %}';">Crear etiqueta</button>
            {% else %}
            <button type="button" class="btn btn-outline-primary me-2" onclick="window.location.href='{% url 'Agregar etiqueta' %}?next={{ request.path|urlencode }}';">Login para crear etiqueta</button>
            {% endif %}
            <form action="{% url 'Busqueda Etiqueta' %}" method="post" style="display: flex; align-items: center;">
                {% csrf_token %}
                <input type="text" name="busqueda" placeholder="Buscar etiqueta" style="margin-right: 10px;">
                <button class="btn btn-secondary" type="submit" value="Buscar">Buscar</button>
            </form>
        </div>
        <br><br>
        <ul>
            {% for tags in nombre %}
            <li><b>{{ tags.nombre }} </b><i>- Creada por: {{ tags.autor }}</i></li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock contenido %}