{% extends "control_usuarios/base1.html" %}

{% block contenido %}
<section>
    <div>
        <h1><p style="text-align:center">Usuarios</p></h1>
        <br><br>
        <form action="{% url 'Busqueda' %}" method="post" style="text-align:center">
            {% csrf_token %}
            <input type="text" name="busqueda" placeholder="Buscar usuario">
            <button class="btn btn-primary rounded-pill px-3" type="submit" value="Buscar">Buscar</button>
        </form>
        <br>
        <ul>
            {% for users in username %}
                <li><a href="{% url 'Perfil' users.id %}">{{ users.username }}</a>{% if users.first_name and users.last_name %} - {{ users.first_name }} {{ users.last_name }}{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock contenido %}